@media (min-width: 1000px) {
    .diagonal-box {
        transform: skewY(-10deg) translateY(-150px);
        height: 510px;
    }

    /* Header */
    header {
        margin: 40px auto 0px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: max-content;
    }

    header .image-container {
        margin: 0px;
        max-width: 600px;
        flex-grow: 1;
    }

    header .image-heading {
        font-size: 54px;
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        width: 100%;
        margin: 5px auto;
        transform: translateX(0%);
        color: var(--grey-color);
        text-align: center;
    }

    header section.about-me {
        margin: 0;
        padding: 25px 15px 0px 15px;
        max-width: 500px;
        min-height: 310px;
        position: relative;
        box-sizing: border-box;
        font-size: 18px;
    }

    header section.about-me h1 {
        text-align: left;
    }

    header section.about-me p {
        padding: 0;
    }

    header section .social-media-icons {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 10px 20px 10px 10px;
        display: flex;
    }

    header section .social-media-icons img {
        width: 30px;
    }

    /* Main */
    main {
        max-width: 1100px;
        margin: 50px auto 0px auto;
    }

    main section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    main section .project-container {
        height: 100%;
    }

    /* Footer */
    footer section {
        margin: 35px auto;
        justify-content: center;
    }

    footer article {
        padding: 0px;
        max-width: 500px;
        flex-grow: 1;
    }

    footer article > p:first-of-type {
        max-width: 325px;
    }

    .footer-image-container {
        height: 400px;
        max-width: 600px;
        flex-grow: 1;
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    header {
        margin-left: 75px;
        margin-right: 75px;
    }

    main {
        margin-left: 75px;
        margin-right: 75px;
    }

    footer section {
        margin-left: 75px;
        margin-right: 75px;
    }
}

@media (min-width: 1500px) {
    .diagonal-box {
        transform: skewY(-10deg) translateY(-250px);
        height: 510px;
    }
}