* {
    --grey-color: #d1d5db;
    --gradient: linear-gradient(to right, #904e95, #e96443 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--grey-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    background: var(--gradient);
    transform: skewY(-20deg) translateY(-300px);
    padding: 15px;
    margin: 0 auto;
}

header > .content { 	
    margin: 0 auto;
    transform: skewY(20deg) translateY(300px);
}