* {
    --black-color: #020617;
    --grey-color: #f9fafb;
    --gradient: linear-gradient(to right, #904e95, #e96443 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--grey-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.diagonal-box {
    margin: 0;
    height: 425px;
    width: 100%;
    background: var(--gradient);
    transform: skewY(-23deg) translateY(-125px);
    position: absolute;
    z-index: -1;
}

/* Header */
header .image-container { 	
    overflow: hidden;
    position: relative;
    margin: 20px;
}

header .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header .image-heading {
    width: min-content;
    margin: 5px 10px;
    color: var(--grey-color);
    font-size: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

header section.about-me {
    padding: 5px;
}

header section.about-me h1 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
}

header section > p {
    margin: auto;
    line-height: 25px;
    padding: 8px;
}

header section .social-media-icons {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px; 
}

header section .social-media-icons img {
    width: 25px;
    height: auto;
}

/* Main */
main {
    margin-top: 25px;
}

main section .project-container {
    min-height: 200px;
}

main section .project-screenshot-container {
    height: 250px;
    background-color: #e5e7eb;
}

main section .project-screenshot-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

main section .project-summary-container {
    padding: 15px;
    min-height: 175px;
    box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.39);
}

main section .project-summary-container > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin-left: 15px;
}

main section .project-summary-container .project-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

main section .project-summary-container .project-links a {
    display: flex;
    align-items: center;
}

main section .project-summary-container .project-links img {
    width: 25px;
    height: auto;
}

main section .project-summary-container article {
    padding: 10px;
}

main section .project-summary-container .technology-used {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

main section .project-summary-container .technology-used img {
    width: 35px;
    height: auto;
}

/* Footer */
footer {
    background: linear-gradient(to top, #649173, #dbd5a4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer article p:first-of-type {
    font-size: 24px;
    font-weight: lighter;
}

footer .email-container {
    font-size: 18px;
    font-weight: lighter;
}

/*
Mobile
*/
@media (max-width: 600px) {
    /* Header */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header .image-container {
        height: 400px;
    }

    header section .social-media-icons {
        gap: 10px;
    }

    header section .social-media-icons img {
        width: 35px;
        height: auto;
    }

    /* Main */
    main {
        margin-top: 150px;
    }

    main h1 {
        text-align: center;
        font-size: 40px;
        font-weight: lighter;
        margin: 0px;
    }

    main section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 45px;
        margin: 15px 15px 0px 15px;
    }

    main section .project-container {
        width: 100%;
        max-width: 325px;
    }

    main section .project-screenshot-container {
        height: 250px;
    }

    main section .project-summary-container {
        min-height: 175px;
    }

    /* Footer */
    footer {
        margin-top: 150px;
    }

    footer article {
        padding: 20px;
    }

    footer article h1 {
        text-align: center;
        font-size: 40px;
        font-weight: lighter;
        margin: 0px;
    }

    footer .email-container > img {
        display: none;
    }

    footer .social-media-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    footer .social-media-icons img {
        height: 35px;
    }
    
    .footer-image-container {
        height: 450px;
        margin-top: 25px;
    }

    .footer-image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}