* {
    --black-color: #020617;
    --grey-color: #f9fafb;
    --gradient: linear-gradient(to right, #904e95, #e96443 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--grey-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
}

.diagonal-box {
    margin: 0;
    height: 425px;
    width: 100%;
    background: var(--gradient);
    transform: skewY(-23deg) translateY(-125px);
    position: absolute;
    z-index: -1;
}

header .image-container { 	
    overflow: hidden;
    position: relative;
    margin: 20px;
}

header .image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

header .image-heading {
    width: min-content;
    margin: 5px 10px;
    color: var(--grey-color);
    font-size: 48px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

header section.about-me {
    padding: 5px;
}

header section.about-me h1 {
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
}

header section > p {
    margin: auto;
    line-height: 25px;
    padding: 8px;
}

header section .social-media-icons {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 5px; 
}

header section .social-media-icons img {
    width: 25px;
    height: auto;
}

/*
Mobile
*/
@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    header .image-container {
        height: 400px;
    }
}